@font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    src: local('Chakra Petch Regular'), local('ChakraPetch-Regular'), url(https://fonts.gstatic.com/s/chakrapetch/v2/cIf6MapbsEk7TDLdtEz1BwkWn6pgar3I1A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }


body {
    height: 100vh;
    font-family: 'Chakra Petch', 'Helvetica', 'Sans-serif';                   
    margin: 0;
    background-image: url(../img/background.jpg);
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: hard-light;
    background-repeat: no-repeat;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h1 {
    height: 60px;
    font-size: 2.8em;
    margin: 0;
}

/* Style of stars and restart button */
.rating li, .cards li {
    list-style: none;
}

.rating {
    display: block;
    width: 200px;
}

.rating li {
    margin-right: 0.5em;
    font-size: 1.5em;
}

.star-rating {
    margin: 0;
    padding: 0;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-star.invisible {
    display:none;
}

.counter {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset {
    cursor: pointer;
    font-size: 1.3em;
    width: 200px;
}

.fa-undo {
    transform: scale(1);
    margin: 0 0.5em 0;
}

.fa-undo:active {
    transform: scale(.90);
}

.timer {
    width: 100px;
    height: 30px;
    background-color: lightgray;
    float: left;
    text-align: center;
}
/* Style of main content */

.cards {
    margin: 0;
    padding: 1em;
    width: 900px;
    height: 82vh;
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.5em;
    justify-items: center;
    perspective: 10000px
}

.card {
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 500ms ease-in-out;
}
.card img {
    width: 175px;   
    height: 140px;
    border-radius: 1em;
    position: absolute;
    right: -5.5em;
    backface-visibility: hidden;
    cursor: pointer;
}

.back-face {
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* animation for clicking cards */
.card:active {
    transform: scale(.95);
    transition: transform 200ms;
}

.card.flip {
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* Game over and winning screen */

.overlay-screen {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;

}

.overlay-screen.visible {
    display: flex;
    -o-animation: overlay-grow 800ms forwards;
    -moz-animation: overlay-grow 800ms forwards;
    -webkit-animation: overlay-grow 800ms forwards;
    animation: overlay-grow 800ms forwards;
}

.winning-message {
    font-size: 1.8em;
}

.retry {
    cursor: pointer;
    transform: scale(1);
}

.retry:hover {
    transform: scale(.98);
}

@-o-keyframes overlay-grow {
    from  {
        background-color: rgba(255, 255, 255, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 2em;
    }
}

@-ms-keyframes overlay-grow {
    from  {
        background-color: rgba(255, 255, 255, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 2em;
    }
}

@-mos-keyframes overlay-grow {
    from  {
        background-color: rgba(255, 255, 255, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 2em;
    }
}

@-webkit-keyframes overlay-grow {
    from  {
        background-color: rgba(255, 255, 255, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 2em;
    }
}


@keyframes overlay-grow {
    from  {
        background-color: rgba(255, 255, 255, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 2em;
    }
}


/* Responsive Design comes here */
@media (max-width: 599px) {
    h1 {
        font-size: 2.3em;
        height: 50px;
    }

    .cards {
        width: 100%;
        height: 50%;
        grid-template-rows: repeat(4, 100px);
    }

    .card img {
        max-width: 100px;
        max-height: 90px;
        right: -3.2em;
    }
}

@media (min-width: 600px) and (max-width: 749px) {
    .cards {
        width: 95%;
        height: 70%;
        grid-template-rows: repeat(4, 120px);
    }

    .card img {
        max-width: 120px;
        max-height: 115px;
        right: -3.8em;
    }
}

@media (min-width: 750px) and (max-width: 850px) {
    .cards {
        width: 95%;
        height: 80%;
        grid-template-rows: repeat(4, 140px);
    }

    .card img {
        max-width: 136px;
        max-height: 114px;
        right: -4.4em;
    }
}